<h2>Erika Kirihara</h2>
<a href="/demo/index">Demo page</a><br/>
<hr />
<% (16..36).each do |n| %>
	<br />
	<%= image_tag("ErikaKirihara/ek007369#{n}.jpg", :width => "800") %>
<% end %>
<% (836..932).each do |n| %>
	<br />
	<%= image_tag("ErikaKirihara/ek00752#{n}.jpg", :width => "800") %>
<% end %>


