<h1>Demo#somethin</h1>
<p>somethin.html.erb</p>
<p>Hello From somethinx</p>


<pre>
- 1 -

-꺄악...
얇은 벽 너머로 찢어지는 엄마의 비명소리가 짧게 울린 것은 퍽하는 둔탁한 소리와 함
께였다. 그리고 조용히 쿵쿵하는 둔탁한 소리가 들렸다. 아빠가 술에 취해 들어오는 
저녁, 일과처럼 안방에서는 아빠의 세상에 대한 화풀이가 엄마에게 돌아갔다.

아빠의 사업이 실패한 것은 제작년 겨울 과천에 상가 건물을 두동 지으면서 터진 IMF 
사태 덕분이었다. 원래 살고 있던 넓찍한 우리집은, 세간살이며 심지어는 내 책상, 중
학교 입학 선물로 받은 내 컴퓨터마저 노란 딱지로 뒤덮혔고 간신히 옷가지 몇개만을 
건져 작은 트럭에 싣고 지금 사는  봉천동의 이 허름한 셋방으로 도망치듯 이사오게 
되었다.
아빠는 몇달인가 새 일거리를 찾기 위해 뛰어 다녔지만 별반 소득이 없었고 차츰 술에
 찌들어가게 되었다. 그리고 어느때 부터인가 엄마에게 손찌검이 가해졌고 이젠 아주 
동네사람들까지 쉬쉬 할 정도의 폭력이 되어버렸다.
</pre>
