<!DOCTYPE html>
<html>
<head>
  <title>Simple CMS</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %> 
</head>
<body>

<!-- before yield -->
<%= yield %>
<!-- after yield -->


</body>
</html>
